
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
  }
  #container {
    display: flex;
    width: 80vw;
    height: 80vh;
  }
  #threejs-container {
    flex: 1;
    position: relative;
    background: #000;
  }
  #sidebar {
    width: 100px;
    background-color: #be3232;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  button {
    padding: 10px;
    background: #444;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background: #666;
  }
